<body>
    <div class="container2">
        <div class="container1">
            <h2>Partida en espera...</h2>
            <button routerLink="/juego">Jugar!!</button>
        </div>
        <div class="container1">
            <h2>Partida en espera...</h2>
            <button routerLink="/juego">Jugar!!</button>
        </div>
        <div class="container1">
            <h2>Partida en espera...</h2>
            <button routerLink="/juego">Jugar!!</button>
        </div>
    </div>

    <div class="container3">
        <h2 style="margin-bottom: -20px;" class="h22">Comienza una partida, o enfrenta ya a tus enemigos jugando las partidas en espera</h2>
        <img src="../../../assets/imagenes/barco_titular.gif" alt="barco" style="margin-bottom: 30px; padding-top: -40px;">
        <button style="margin-top: -10px;" routerLink="/espera">Comenzar partida</button>
        <button style="margin-top: 10px;" routerLink="/estadisticas">Estadísticas</button>
        <button style="margin-top: 10px;" routerLink="/login" >Cerrar sesión</button>
    </div>

    
    
</body>
