<body>
    <div class="container2" *ngIf="!noPartidas; else noPartidasTemplate">
        <div class="container1" *ngFor="let partida of $partidas">
          <h2>Partida en espera...</h2>
          <button (click)="unirsePartida(partida.id)">Jugar!!</button>
        </div>
    </div>

    <ng-template #noPartidasTemplate>
      <p>No hay partidas disponibles.</p>
    </ng-template>
    
        <div class="container3">
            <h2 style="margin-bottom: -20px;" class="h22">Comienza una partida, o enfrenta ya a tus enemigos jugando las partidas en espera</h2>
            <img src="../../../assets/imagenes/barco_titular.gif" alt="barco" style="margin-bottom: 30px; padding-top: -40px;">
            <button type="submit" style="margin-top: -10px;" [disabled]="isLoading" (click)="crearPartida()">Comenzar partida</button>
            <button style="margin-top: 10px;" routerLink="/estadisticas">Estadísticas</button>
            <button style="margin-top: 10px;" [disabled]="isLoading" (click)="logOut()" >Cerrar sesión</button>
        </div>
  
</body>
