h1{
    font-size: 50px;
  }

  .h22{
    font-size: 40px;
  }
  
  body {
    background-image: url(../.././../assets/imagenes/mar.gif);
    background-repeat: repeat-x;
    background-size: 100px 100px;
    background-position: bottom, left;
    background-color: #1c79cf;
    color: #000;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 95vh;
  }

  button{
    background-color: #1680b1;
    color: #fff;
    font-size: 12px;
    padding: 15px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 5px;
    cursor: pointer;
}

.container1{
  background-color: #1ec6f0;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  color: #000;
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 20vh;
  margin-right: 5vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.container2{
    overflow: auto;
    margin-right: 30vh;
    margin-left: 10vh;
}

.container3{
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-left: 30px;
    height: 80vh;
    margin-right: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vh;
    width: 100vh;
  }

  .barra{
    background-color: red;
    width: 100%;
    height: 150px;
  }
  
  .containerImgHeight{
    padding-top: 330px;
    position: relative;
    animation: moverBarco 9s linear infinite;
    /*border: 5px solid black;*/
    
  }
  .containerImagen{
    border: 5px solid black;
    margin: 0;
    padding: 0; 
  }

  @keyframes moverBarco {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200vh);
    }
  }