<body>
    <div class="container" id="container">
    <h1 style="margin-top: 90px;">Hola!, Bienvenido(a) a BARCOSOCKET.</h1>
    <h3>Instrucciones:</h3>
    <h4>1. Comienza una partida, o entra a una ya iniciada</h4>
    <h4>2. Una vez iniciada la partida, usa tu mouse 
        para dar click en la barra roja de arriba, al dar click,
        una bomba caerá
    </h4>
    <h4>3. Cada que una de tus bombas, logre tumbar el barco, obtendrás un punto.</h4>
    <h4>4. Tendrás solo 2 intentos cada que el barco esté en tu pantalla.</h4>
    <h4>5. Serán 15 barcos los que tendrán que tumbar entre tú y tu enemigo.</h4>
    <h4>6. El que haya tumbado más barcos al final, ganará</h4>
    <h3>Nota: Cada que tumben al barco, este aumentará su velocidad. Suerte!!</h3>
    <button routerLink="/inicio">Continuar</button>
</div>
</body>
