<!DOCTYPE html >
<html lang="en" >

<head ngSkipHydration>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="verificar.component.css">
    <title>Verificar</title>
</head>

<body >

    <div class="container" id="container" >
        <div class="form-container sign-in">
            <form [formGroup]="verifyForm">
                <h1>Verifica tu código</h1>
        
                <span>Ingresa el código que te mandamos por email</span>

                <input formControlName="code" name="code" type="text" required placeholder="Código" minlength="6" maxlength="6">
                <button type="submit" [disabled]="isLoading" (click)="verifyCode()">Continuar</button>
            </form>
        </div>

    </div>

</body>

</html>