<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="login.component.css">
    <title>Login</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-in">
            <form [formGroup]="loginForm">
                <h1>Inicia sesión</h1>
        
                <span>Ingresa tu email y contraseña</span>
                
                <input formControlName="email" name="email" type="email" autocomplete="email" required placeholder="Email">
                <input formControlName="password" name="password" type="password" autocomplete="new-password" required placeholder="Password">
                <button type="submit" [disabled]="isLoading" (click)="Login()">Iniciar sesión</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-right">
                    <h1>Hola!</h1>
                    <p>Bienvenido de nuevo a barcoSocket, ¿estás listo para jugar?</p>
                    <p>¿Aún no tienes cuenta?</p>
                    <button class="hidden" routerLink="/register">Registrate</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>